rules_version = '2';
service cloud.firestore {
 match /databases/{database}/documents {
  function validMax(n) { return n is int && n >= 2 && n <= 11; }
  match /adminKeys/{key} {
   allow get: if key == 'REPLACE_WITH_PRIVATE_ADMIN_KEY';
   allow update: if key == 'REPLACE_WITH_PRIVATE_ADMIN_KEY'
    && request.resource.data.keys().hasOnly(['maxCards','nonce','updatedAt'])
    && validMax(request.resource.data.maxCards)
    && request.resource.data.nonce is string
    && request.resource.data.updatedAt == request.time;
  }
  match /settings/gacha {
   allow get: if true;
   allow update: if request.resource.data.keys().hasOnly(['maxCards','nonce'])
    && validMax(request.resource.data.maxCards)
    && request.resource.data.nonce is string
    && getAfter(/databases/$(database)/documents/adminKeys/REPLACE_WITH_PRIVATE_ADMIN_KEY).data.updatedAt == request.time
    && getAfter(/databases/$(database)/documents/adminKeys/REPLACE_WITH_PRIVATE_ADMIN_KEY).data.nonce == request.resource.data.nonce
    && getAfter(/databases/$(database)/documents/adminKeys/REPLACE_WITH_PRIVATE_ADMIN_KEY).data.maxCards == request.resource.data.maxCards;
  }
 }
}
